body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2880d8;
    text-align: center;
    font-size: 40px;
  }
  
  .wrapper {
    width: 430px;
    margin: 0 auto;
    height: 100%;
    padding-top: 0px;
    background-color: #bdcad7;
  }

  .answers div {
    padding: 10px 0 0 0;
    font-size: 16px;
  }
  
  .answers div:hover {
    cursor: pointer;
    color: #FBCB43;
  }
  
  .answers {
    padding: 0px 0 10px 0px;
  }
  

  
  .answers div:first-child {
    border: none;
  }

  
  .correct, .false {
    background-color: #98a79f;
    width: 60px;
    height: 30px;
    line-height: 30px;
    padding-left: 4px;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
  }
  
  

  .cell {
    position: absolute;
    top: 200px;
    left:500px;
    width: 700px;
    margin: 0 auto;
    height: 300px;
    padding-top: 0px;
    background-color: #7b9387;
  }

  .game--container {
    width: 50%;
    margin: 0 auto;
    height: 750px;
    padding-top: 0px;
    background-color: #DC4437;
  }

  .game--ans1{
    width: 350px;
    margin: 0 auto;
    height: 80px;
    padding-top: 0px;
    background-color: #d8bab7;
    position: absolute;
    bottom: 150px;
    left:450px;
    cursor: pointer;
    
  }

  .game--ans3{
    width: 350px;
    margin: 0 auto;
    height: 80px;
    padding-top: 0px;
    background-color: #d8bab7;
    position: absolute;
    bottom: 50px;
    left:450px;
    cursor: pointer;
  }

  .game--ans2{
    width: 350px;
    margin: 0 auto;
    height: 80px;
    padding-top: 0px;
    background-color: #d8bab7;
    position: absolute;
    bottom: 150px;
    left:900px;
    cursor: pointer;
  }

  .game--ans4{
    width: 350px;
    margin: 0 auto;
    height: 80px;
    padding-top: 0px;
    background-color: #d8bab7;
    position: absolute;
    bottom: 50px;
    left:900px;
    cursor: pointer;
  }

.score{
position: absolute;
top:500px;
left:750px;

}


/* Modal CSS */
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  &-bg {
    position: absolute;
    background: teal;
    width: 100%;
    height: 100%;
  }
  &-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
  }
  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
  }


}
.modal2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  &.open {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }
  &-bg {
    position: absolute;
    background: teal;
    width: 100%;
    height: 100%;
  }
  &-container {
    border-radius: 10px;
    background: #fff;
    position: relative;
    padding: 30px;
  }
  &-close {
    position: absolute;
    right: 15px;
    top: 15px;
    outline: none;
    appearance: none;
    color: red;
    background: none;
    border: 0px;
    font-weight: bold;
    cursor: pointer;
  }
.modal2-picture{

 border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;

}
  
}
  